---
- name: Ensure frontend namespace exists
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    validate_certs: false
    state: present
    definition: "{{ lookup('template', 'roles/frontend/templates/namespace.yml.j2') }}"

- name: Apply frontend secret
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    validate_certs: false
    state: present
    definition: "{{ lookup('template', 'roles/frontend/templates/frontend-secret.yaml') }}"

- name: Ensure frontend ResourceQuota exists
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    validate_certs: false
    state: present
    definition: "{{ lookup('template', 'roles/frontend/templates/resourcequota.yml.j2') }}"

- name: Apply frontend Deployment
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    validate_certs: false
    state: present
    definition: "{{ lookup('template', 'roles/frontend/templates/deployment.yml.j2') }}"

- name: Apply frontend service
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    validate_certs: false
    state: present
    definition: "{{ lookup('template', 'roles/frontend/templates/service.yml.j2') }}"

- name: Apply frontend Ingress 
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    validate_certs: false
    state: present
    definition: "{{ lookup('template', 'roles/frontend/templates/ingress.yml.j2') }}"

- name: Apply frontend HPA
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    validate_certs: false
    state: present
    definition: "{{ lookup('template', 'roles/frontend/templates/hpa.yml.j2') }}"

- name: Apply frontend NetworkPolicy 
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    validate_certs: false
    state: present
    definition: "{{ lookup('template', 'roles/frontend/templates/networkpolicy.yml.j2') }}"

- name: Force rollout of frontend deployment
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    validate_certs: false
    state: present
    kind: Deployment
    namespace: "{{ namespace_name }}"
    name: "{{ deployment_name }}"
    definition: {}
  register: frontend_deploy

- name: Restart frontend pods if updated
  command: kubectl rollout restart deployment "{{ deployment_name }}" -n "{{ namespace_name }}"
  when: frontend_deploy.changed
